#about-page {
    margin: 0 auto;
    height: auto;
    width: 75%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#skills__section {
    display: block;
    justify-content: center;
    height: auto;
    width: 100%;
}

#about-page summary {
    color: inherit;
}

#about-page h4 {
    color: inherit;
}

#about-page h5 {
    color: inherit;
}

#about-page p {
    color: inherit;
}

.icons {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

.centered {
    margin: 0.5rem auto;
    text-align: center;
}

.space {
    margin-bottom: 0.5rem;
}

.tag {
    padding: 1rem;
    white-space: nowrap;
    background:rgba(66, 110, 157, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(32, 82, 135, 0.8);
}

.tag__list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  
} */
