#about-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#skills__section {
    display: block;
    justify-content: center;
    height: auto;
    width: 100%;
}

#about-page h4 {

}

#about-page h5 {

}

.centered {
    margin: 0 auto;
    text-align: center;
}

.tag {
    padding: 1rem;
    white-space: nowrap;
    background:rgba(66, 110, 157, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(32, 82, 135, 0.8);
}

.tag__list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.scroller {
    max-width: 100vw;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}

.scroller:hover .scroller__inner {
    animation-play-state: paused;
}

@media (prefers-reduced-motion: no-preference) {
    .scroller__inner {
        display: flex;
        gap: 1rem;
        padding-block: 1rem;
        width: fit-content;
        flex-wrap: nowrap;
        animation: scroll var(--my-animation-duration, 140s)
            var(--my-animation-direction, forwards) linear infinite;
    }
}

.scroller[data-direction="right"] {
    --my-animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --my-animation-direction: forwards;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* @media (prefers-reduced-motion: no-preference) {
  
} */
