.blog__page {
    margin: 0 auto;
    height: auto;
    width: 75%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.blog__page a {
    color: var(--app-inactive-link);
}
