.card-img {
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-img:hover {
  transform: scale(1.1);
}

.card-pic-wrap {
  margin: 0;
  padding: 0;
  height: 45%;
  overflow: hidden;
}

/* .new-developmenent .card-pic-wrap::after {
  content: attr(data-badge);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #7495adb7;
  /* box-sizing: border-box; 
} */

.card-text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.card-info {
  height: 55%;
}

.project-preview-card {
  flex: 0 0 auto;
  margin-right: 2rem;
  width: 280px;
  height: 418px;
  overflow: clip;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  
  /* text-decoration: none; */
}

.project-preview-card:first-child {
  margin-left: 0.75rem;
}

.project-preview-card:last-child {
  margin-right: 0;
}

.project-preview-deck {
  /* border: 2px solid yellow; */
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 0;
  width: 787px;
  min-width: 299px;
  overflow-x: scroll;
}

.project-preview-deck::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}

.project-preview-deck::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.info-card {
  display: grid;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.info-card:last-chlid {
  margin-bottom: 0;
}

.expandable-card {
  display: grid;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.expandable-card:last-chlid {
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .scrollable-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    margin-bottom: 2rem;
  }
}
