.card-img {
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-img:hover,
.card-img:focus {
  transform: scale(1.1);
}

.card-pic-wrap {
  margin: 0;
  padding: 0;
  height: 45%;
  overflow: hidden;
}

/* .new-developmenent .card-pic-wrap::after {
  content: attr(data-badge);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #7495adb7;
  /* box-sizing: border-box; 
} */

.card-title {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.card-text {
  color: #252e48;
  font-size: 16px;
  line-height: 24px;
}

.card-info {
  height: 55%;
}

.demo-card {
  flex: 0 0 auto;
  margin-right: 2rem;
  min-width: 280px;
  width: 335px;
  height: 418px;
  overflow: clip;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  text-decoration: none;
}

.image-card-vertical {
  flex: 0 0 auto;
  margin-right: 2rem;
  width: 280px;
  height: 418px;
  overflow: clip;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  text-decoration: none;
}

.image-card-vertical:first-child {
  margin-left: 0.75rem;
}

.image-card-vertical:last-child,
.demo-card:last-child {
  margin-right: 0;
}

.project-preview-deck {
  /* border: 2px solid yellow; */
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 0;
  width: 100%;
  min-width: 299px;
  overflow-x: scroll;
  box-sizing: border-box;
}
/* TODO: the scrollbar classes below are supposed
    to force div scrollbar to always remain
    visible specifically in Chrome on macOS,
    but other styling for reactive divs seems
    to be causing these to fail.
    Investigate and address.
    Hypothesis: maybe it has to do with the
    priority different styles are given?
*/
.project-preview-deck::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}

.project-preview-deck::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.info-card {
  display: grid;
  margin-bottom: 3px;
  padding: 3px 4px;
  box-sizing: border-box;
  height: 100px;
  width: auto;
  border: 1px solid rgba(53, 53, 53, 0.477);
  border-radius: 10px;
  overflow: clip;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
  text-decoration: none;
}

.collapsible-card-title {
  color: #f2f2f2ea;
  font-size: 32px;
  font-weight: 450;
  text-align: center;
}

.collapsible-sub-card-title {
  color: #f2f2f2ea;
  font-size: 24px;
}

.collapsible-card {
  color: rgba(207, 207, 207, 0.918);
  display: grid;
  padding: 0 0 1rem 0;
  margin: 1rem 0;
  height: auto;
  width: 96%;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
}

.collapsible-sub-card {
  display: grid;
  padding: 0 1rem 1rem ;
  margin: 1rem 0;
  height: auto;
  width: 98%;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.017));
  box-sizing: border-box;
}

.collapsible-card:last-chlid {
  margin-bottom: 0;
}

.image-card-horizontal {
  flex: 0 0 auto;
  margin-right: 2rem;
  width: 280px;
  height: 418px;
  overflow: clip;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  text-decoration: none;
}

.info-card-deck {
  /* border: 2px solid yellow; */
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .scrollable-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    margin-bottom: 2rem;
  }
}
